:root {
  --color-primary: #151f29;
  --color-secondary: #969696;
  --color-accent: #4f7df3;
  --color-accent-secondary: #c2d3ff;
  --color-error: #ff5263;

  --fs-xl: 4rem;
  --fs-700: 2rem;
  --fs-600: 1.8rem;
  --fs-500: 1.4rem;
  --fs-400: 1.2rem;
  --fs-300: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  color: var(--color-primary);
}

h1 {
  font-size: var(--fs-700);
  font-weight: 300;
  color: var(--color-secondary);
}

/* Social links */
.social-links-grp {
  display: flex;
  gap: 1rem;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-accent-secondary);
  border-radius: 100%;
  width: 31px;
  height: 31px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.social-link:hover {
  background-color: var(--color-accent);
}

.social-link:hover .fab {
  color: white;
}

.fab {
  color: var(--color-accent);
  transition: all 0.2s ease-in;
}

.fa-instagram {
  font-size: 1.7rem;
}

/*  Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
